<% if user_signed_in? %>
  <% bool = true %>
<% else %>
  <% bool = false %>
<% end %>

<% if user_favorite %>
  <%= link_to post_favorite_path(@post, user_favorite), method: :delete, remote: bool, class: "fav-icon" do %>
    <span class="glyphicon glyphicon-heart text-danger"></span>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(@post), method: :post, remote: bool, class: "fav-icon" do %>
    <span class="glyphicon glyphicon-heart-empty text-danger"></span>
  <% end %>
<% end %>

<span>(<%= @post.favorites.count %>)</span>
