<h1>Favorite Posts</h1>

<% if @posts.present? %>
  <%= render "/posts/post" %>
<% else %>
  <h3>You have no favorite posts.</h3>
<% end %>

<div class="col-xs-12">
  <%= paginate @posts %>
  <%= page_entries_info @posts %>
</div>
