<%= form_for [@post, comment], remote: true do |f| %>
  <div>
    <%= f.text_area :body %>
  </div>
  <%= f.submit data: {disable_with: "submitting..."} %>
<% end %>
<br>
<%= comment.errors.full_messages.join(", ") %>
