<div class="about-bg-color">
  <div class="about-page">
    <h1 class="about-title">About Yii Van's Blog</h1>

    <div>
    <%= image_tag "cute_kitten.jpg" %>
    </div>

    <h3 class="about-body">
      This is the place where I share my experience and interesting stuff with everyone.
      <br>
      Follow your <strong>DREAMS</strong>, they know the <strong>WAY</strong>!!!
    </h3>
  </div>
</div>
