<h1>About</h1>
<div>
  <p>This is Evan's blog.</p>
</div>

<div>
<!-- <img src="/assets/cute_kitten.jpg" alt="" /> -->
<%= image_tag "cute_kitten.jpg" %>
</div>


<div>
  <p>I'm a web developer using the Ruby on Rails framework.</p>
</div>
