<div>
  <% @posts.each do |p| %>
    <div class="post-index col-lg-4">
      <%= link_to post_path(p) do %>
        <% if p.image.present? %>
          <div class="post-index-image">
            <%= image_tag p.image.url(:small) %>
          </div>
        <% end %>
        <div>
          <%= link_to post_path(p) do %>
            <div class="post-index-title"><strong><%= p.title %></strong></div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
