<% if @posts.present? %>
  <%= render "post" %>
<% else %>
  <h3>There are no blog posts containing the term "<%= params[:search] %>".</h3>
<% end %>

<div class="col-xs-12 pagination">
  <%= paginate @posts %>
  <%= page_entries_info @posts %>
</div>
