// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index {
  margin-top: 25px;
}

.post-index-image {
  text-align: center;
}

.post-index-title {
  text-align: center;
  font-size: 18px;
  font-family: serif;
}

.post-show-image {
  width: 100%;
  padding: 0px;
}

textarea.post-body {
  height: 180px;
}
