// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.post-body {
  height: 180px;
}

textarea.section-description {
  height: 120px;
}

.post-submit-btn {
  margin-bottom: 6px;
  float: right;
}

.post-index {
  margin-top: 25px;
}

.post-index-image {
  margin: 0 auto;
}

.post-index-title {
  text-align: center;
  font-size: 18px;
  font-family: serif;
  height: 50px;
  overflow: hidden;
}

.posts-pagination {
  font-size: 12px;
  text-align: center;
}

.post-show-title {
  font-family: serif;
}

.post-show-category {
  font-family: serif;
}

.post-show-tags {
  font-family: serif;
}

.post-show-image {
  width: 100%;
  padding: 0px;
}

.post-show-body {
  font-family: serif;
  font-size: 18px;
}

.show-section {
  margin: 30px auto;
}

.post-show-section-image {
  width: 100%;
  padding: 0px;
}

#post-favorite {
  margin: 10px auto;
}

@media (min-width: 768px) {
  .post-show-body {
    font-size: 22px;
  }
}
